.center
{
    margin:auto;
    width:70%;
    background-color:#b0e0e6;
}

#outline { 
	position: relative;
	width: 900px;
	height: 250px;
	margin: 20px auto 0;
	border: solid 1px #999;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	background-image:url(images/gradient.jpg);
	text-align: center;
}

#title { 
	width: 80%;
	top: 60px;
	margin-left:auto;
        margin-right:auto;
	position: relative;
	visibility: visible;
	text-shadow: 2px 2px 4px #333;
}

#content {
	position: relative;
	border: solid 1px #999;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	width: 900px;
	height: auto;
	margin: 0 auto ;
	margin-top: 0;
	z-index:4
}

#caption {
        position: relative;
	width: 100%;
	margin: 0px auto;
	background-color: #DDDDDD;
}

#nav {
        width: 80%;
        vertical-align: middle;
        padding: 10px;
}

#nav-tag {
       color: #778fbd;
    	font-size: 25px;
	font-family: "Lucida Grande", Arial, sans-serif;

}

#display {
        position: relative;
	width:  90%;
	height: 540px;
	margin: 20px auto 20px;
	border: solid 1px #999;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

#HostList {
        text-align: center;
        width:40%;
        height:100%;
        margin-left: auto;
        margin-right: 60%;
        z-index: 2;
}

#FpLog {
        text-align: center;
        width: 60%;
        margin-left: 40%;
        margin-right: auto;
        margin-top: auto;
        top: 0px;
        position: absolute;
        z-index: 3;
}

#footer{
	position: relative;
	bottom:0;
	width:900px;
	top: -80px;
	height:100px;
	margin: 0 auto;
	margin-bottom: 10px;
	border: solid 1px #999;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	z-index:2
}

#loading{
    position:fixed; /*固定位置定位*/
    background:#666666; /*背景顏色*/
    -webkit-opacity:0.7; /* Moz FF 透明度20%*/
    color:#333333; /*文字顏色*/
    font-weight:bold;  /*粗體字*/
    padding:0px; /*內距*/
    width:100px; /*寬度*/
    height:100px; /*高度*/
    top: 60%;
    left: 50%;
    margin-top:-50px; /*上方邊界*/
    margin-left:-50px; /*左方邊界*/
    
    
    -moz-border-radius: 	15px; /* FF1+ */
    -webkit-border-radius: 	15px; /* Saf3-4 */
    border-radius: 		15px; /* Opera 10.5, IE 9, Saf5, Chrome */

    -moz-box-shadow: 	        0px 0px 6px #333; /* FF3.5+ */
    -webkit-box-shadow: 	0px 0px 6px #333; /* Saf3.0+, Chrome */
    box-shadow: 		0px 0px 6px #333; /* Opera 10.5, IE 9.0 */
}

#TB {

	-moz-border-radius: 	15px; /* FF1+ */
	-webkit-border-radius: 	15px; /* Saf3-4 */
	border-radius: 		15px; /* Opera 10.5, IE 9, Saf5, Chrome */

	-moz-box-shadow: 	0px 0px 6px #333; /* FF3.5+ */
	-webkit-box-shadow: 	0px 0px 6px #333; /* Saf3.0+, Chrome */
	box-shadow: 		0px 0px 6px #333; /* Opera 10.5, IE 9.0 */


}


p { 
        color: #666;
	font-size: 16px;
	font-family: "Lucida Grande", Arial, sans-serif;
	font-weight: normal;
	margin-top: 0;
}
h1 { 
        color: #666;
	font-size: 52px;
	font-family: "Lucida Grande", Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	letter-spacing: -1px;
	width: auto;
}

h2 {    color: #778fbd;
	font-size: 25px;
	font-family: "Lucida Grande", Arial, sans-serif;
	font-weight: 500;
	line-height: 32px;
}

a{     
        color:#999;
	text-decoration: none;
}

a:hover {
	text-shadow: 1px 1px 3px #333;
} 

.dataTable
{
    font-family: tahoma, sans-serif;
    font-size: 11pt;
    font-weight: normal;
    color: #333;
    background: #EEEEEE;
    border: thin solid black;
}

.tr-out {
    background-color: #EEEEEE;
}

.tr-over {
    background-color: #aaaaaa;
}

.headerTable
{
    font-family: tahoma, sans-serif;
    font-size: 15pt;
    font-weight: normal;
    color: white;
    background: #778fbd;
    border: thin solid black;
}

.column-head
{
width: 15em;
}

.copyright
{
    font-family: tahoma, sans-serif;
    font-size: 10pt;
    font-weight: normal;
    font-style: italic;
color: black;
}


